body{
    background:#e0e0e0;
    height: 100vh;
    #root{
        height: 100%;
        .app{
            height: 100%;
        }
    }
}
.text-center{
    text-align: center;
}
.common-pagination{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirm-modal-trolia{
    button{
        border-radius: 2px !important;
    }
    .ant-btn-primary{
        background: red !important;
    }
    .ant-btn-default:hover{
        color: red !important;
        border-color: red !important;
        background: #ffffff;
    }
}